@model List<AdminIndexViewModel>
@{ ViewBag.Title = "Admin"; }

<div class="container">
  <div class="row row-height-3 align-items-center border-bottom border-white">
    <div class="col-4">Name</div>
    <div class="col">A.P.</div>
    <div class="col">Action</div>
  </div>

  @if (Model.Any())
  {
    @for (int i = 0; i < Model.Count(); i++)
    {
      <div class="row row-height-3 align-items-center mt-3 bg-secondary">
        <div class="col-4">@Model[i].FullName</div>
        <div class="col">
          @if (Model[i].Claims.Count() <= 1)
          {
            @Model[i].Claims.First().Type.ToString()
          }
          else
          {
            @foreach (var claim in Model[i].Claims)
            {
              @claim.Type.ToString()<br>
            }
          }

        </div>
        <div class="col">
          <a asp-action="Edit" asp-route-userId="@Model[i].Id">
            <i class="far fa-edit fa-lg mr-2"></i>
          </a>
          <form asp-controller="Admin" asp-action="Delete" asp-route-userId="@Model[i].Id" method="POST" style="Display: inline-block;">
            <button type="submit" style="border: 0; background: transparent; color: #fff;"><i class="far fa-trash-alt fa-lg mr-2"></i></button>
          </form>
        </div>
      </div>
    }
  }
</div>

@if (TempData["MessageTitle"] != null)
{
  <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">
    <div class="toast" style="position: absolute; top: 50px;" data-autohide="false" data-animation="true">
      <div class="toast-header">
        <strong class="mr-auto text-success">@TempData["MessageTitle"]</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body text-info">
        @TempData["Message"]
      </div>
    </div> 
  </div>
}

@section Scripts
{
  <script>
    $('.toast').toast('show');
  </script>
}